@font-face {
  font-family: "joan";
  src: url("../Fonts/Joan/Joan-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar__content {
  font-family: "joan";
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo_img {
  width: 200px;
  min-width: 200px;
  height: 50px;
  min-height: 50px;
  background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_horiz.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8;
  margin-right: 40px;
  margin-left: 10px;
  cursor: pointer;
  animation-name:opacityChanger ;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
}
.logo_img:hover {
  opacity: 1;
}
.navbar__items {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
.navbar__item {
  font-size: 25px;
  color: #cccccc;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
}
.navbar__item:hover {
  color: #fff;
}
li:first-child{
  animation-name: leftToRight;
  animation-duration: 600ms;
  animation-timing-function: ease-out;
}
li:nth-child(2){
  animation-name: topToBottom;
  animation-duration: 600ms;
  animation-timing-function: ease-out;
}
li:last-child{
  animation-name: rightToLeft;
  animation-duration: 600ms;
  animation-timing-function: ease-out;
}
/* Key Frames */
@keyframes leftToRight{
  0%{
    transform: translateX(-1000%);
  }
  100%{
    transform: translateX(0%);
  }
}
@keyframes rightToLeft{
  0%{
    transform: translateX(1000%);
  }100%{
    transform: translateX(0%);
  }
}
@keyframes topToBottom{
  0%{
    transform: translateY(1000%);
  }100%{
    transform: translateY(0%);
  }
}
@keyframes opacityChanger{
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}

/* Media Queries */

@media (max-width: 1200px) {
  .logo_img {
    width: 50px;
    height: 50px;
    min-width: 100px;
    min-height: 100px;
  }
  .navbar__item{
      font-size: 15px;
  }
}

@media (max-width: 768px){
    .logo_img{
        display: none;
    }
    .navbar__item{
        font-size: 10px;
    }
}
